<!DOCTYPE html>
<html lang="pt-BR'">
<head>
    <link rel="stylesheet" href="/style.css">
    <%- include ('./components/head') %>
</head>



<body>
    
    <%- include ('./components/nav') %>

  <main>
    
<section id="cards">

    <%pokedex.forEach((pokemon) => { %>
        
  
    <div class="card">
<h2><%= pokemon.nome %></h2>
<p><%= pokemon.tipo %></p>
<p><%= pokemon.descricao %></p>
<img src="<%= pokemon.foto %>" alt="">
<a id="editar" href="/getById/<%= pokemon.id %>/put">Editar</a>
                    <a id="apagar"  href="/getById/<%= pokemon.id %>/delete">Apagar</a>

</div>
<%   })  %>

</section>

</main>

<% if (pokemonPut != null) {%>
    <%- include('./components/modalPut') %>
<% } %>

<% if (pokemonDel != null) {%>
    <%- include('./components/modalDel') %>
<% } %>

<%- include('./components/footer') %>
</body>

</html>